<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="url" value="https://ismp.crpt.ru/api/" />
    <add key="thumbprint_td" value="7cb1809971de14b0d73bbc42b59186df9f2b4394" />
    <add key="thumbprint_vek" value="29efe42ced881c8e5a3f24ef3fe6e83a50d27e93" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MainDB" providerName="System.Data.SqlClient" connectionString="Server=bi.hcaskona.com\bi;Database=HonestSign;User ID=;Password=" />
  </connectionStrings>
</configuration>