<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="url" value="https://ismp.crpt.ru/api/" />
      <add key="thumbprint_td" value="7cb1809971de14b0d73bbc42b59186df9f2b4394" />
      <add key="thumbprint_vek" value="‎29efe42ced881c8e5a3f24ef3fe6e83a50d27e93" />
    </appSettings>
</configuration>