@{
    ViewBag.Title = "Home Page";
}

<div>
    <p>Сервис обмена с "Честным знаком"</p>

    <a href="http://localhost:44324/km/getstatus?km=010462007023015021GEkFuiyZm!ZJJ">Проверка КМ (Debug)</a>
    <p></p>
    <a href="https://192.168.1.166/km/getstatus?km=010462007023015021GEkFuiyZm!ZJJ">Проверка КМ (Release)</a>
</div>